<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid style="height: 40%;">
    <ion-row class="fullheight xc">
      <img src="../../assets/ApPichetto-logo.svg" />
    </ion-row>
    <ion-row class="fullheight xc">
      <ion-button *ngIf="!loadingUser" color="dark" (click)="login()">
        <ion-icon name="logo-google"></ion-icon>
        Login with Google
      </ion-button>
      <ion-spinner  *ngIf="loadingUser" name="crescent"></ion-spinner>
    </ion-row>
    <ion-row>
    </ion-row>
  </ion-grid>
</ion-content>
