<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Import ticket
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-segment color="dark" [(ngModel)]="market">
    <ion-segment-button value="esselunga">
      <ion-label>Esselunga</ion-label>
    </ion-segment-button>
    <ion-segment-button value="coop">
      <ion-label>Coop</ion-label>
    </ion-segment-button>
    <ion-segment-button value="conad">
      <ion-label>Conad</ion-label>
    </ion-segment-button>
  </ion-segment>
  <br />
  <ion-segment color="dark" [(ngModel)]="importMethod">
    <ion-segment-button value="camera">
      <ion-label>Camera</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pdf">
      <ion-label>Import PDF</ion-label>
    </ion-segment-button>
    <ion-segment-button value="manual">
      <ion-label>Manual</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-fab vertical="center" horizontal="center" slot="fixed">
    <ion-button color="dark">
      <ion-item color="dark" [ngSwitch]="market">
        <ion-label *ngSwitchCase="'esselunga'">
          ESSELUNGA
        </ion-label>
        <ion-label *ngSwitchCase="'coop'">
          COOP
        </ion-label>
        <ion-label *ngSwitchCase="'conad'">
          CONAD
        </ion-label>
      </ion-item>
      <ion-item color="dark" [ngSwitch]="importMethod">
        <ion-icon name="attach" *ngSwitchCase="'pdf'"></ion-icon>
        <ion-icon name="camera" *ngSwitchCase="'camera'"></ion-icon>
        <ion-icon name="add" *ngSwitchCase="'manual'"></ion-icon>
      </ion-item>
      <ion-icon name="add"></ion-icon>
    </ion-button>
    <ion-input
      placeholder=""
      type="file"
      *ngIf="importMethod==='pdf'"
      (change)="readPdf($event)"
      class="upload"
    ></ion-input>
  </ion-fab> -->
  <div
    style="
      position: absolute;
      top: 50%;
      left: 16px;
      font-size: 25px;
      z-index: 2;
    "
    (click)="slidePrev()"
  >
    <ion-icon name="arrow-back"></ion-icon>
  </div>
  <div
    style="
      position: absolute;
      top: 50%;
      right: 16px;
      font-size: 25px;
      z-index: 2;
    "
    (click)="slideNext()"
  >
    <ion-icon name="arrow-forward"></ion-icon>
  </div>
  <ion-slides scrollbar="true" pages pager="true" [options]="slideOpts">
    <ion-slide>
      <app-select-participans></app-select-participans>
    </ion-slide>
    <ion-slide>
      <app-select-market></app-select-market>
    </ion-slide>
    <ion-slide>
      <app-select-method></app-select-method>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer>
  <ion-button
    color="dark"
    expand="block"
    disabled="!hasMarketAndMethodSelected()"
    >Go</ion-button
  >
</ion-footer>
