<ion-header>
    <ion-toolbar>
        <ion-title>Your status</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item *ngIf="userFriends === undefined">
        <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </ion-item>

    <ion-item *ngIf="this.noFriends">
        <p>You have no friends :(</p>
    </ion-item>

    <div *ngIf="userFriendsObs | async">
        <ion-list [scrollEvents]="true">
            <ion-item button *ngFor="let friend of userFriends.friends; index as index" (click)="goToFriendTicket(index)">
                <ion-item-sliding>
                    <ion-item>
                        <ion-avatar item-start>
                            <ion-img [src]="friend.photoUrl"></ion-img>
                        </ion-avatar>
                        <ion-item>{{ friend.name }}</ion-item>
                        <ion-list slot="end">
                            <ion-text color="danger">
                                Debt: -{{ debts[friend.email].debt }}<br>
                            </ion-text>
                            <ion-text color="success">
                                Credit: +{{ debts[friend.email].credit }}<br>
                            </ion-text>
                            <ion-text>
                                Total = {{ debts[friend.email].total }}
                            </ion-text>
                        </ion-list>
                    </ion-item>
                </ion-item-sliding>
            </ion-item>
        </ion-list>
    </div>

</ion-content>
