<div>
    <ion-header>
        <ion-title>Your notifications</ion-title>
    </ion-header>

    <div *ngIf="messagesObs | async" >
        <ion-list>
            <ion-item-sliding *ngFor="let message of messages">
                <ion-item style="--background: transparent">
                    <ion-list>
                        From: <b>{{ message.from }}</b><br>
                        {{ message.content }}
                    </ion-list>
                </ion-item>

                <ion-item-options side="end" (ionSwipe)="delete(message)">
                    <ion-item-option color="danger">
                        <ion-icon name="trash" size="large" (click)="delete(message)"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
            <ion-item *ngIf="messages.length === 0" style="--background: transparent">
                You have no new notification.
            </ion-item>

        </ion-list>

    </div>
</div>
