<ion-header>
  <ion-toolbar>
    <ion-title>My tickets</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let myTicket of myTickets">
      <ion-col>
        <ion-card (click)="selectTicket(myTicket)">
          <ion-card-header>
            <ion-card-title
              >Ticket {{ getDate(myTicket.timestamp) }}
            </ion-card-title>
            <ion-card-subtitle
              >Owner: {{ myTicket.owner.name }}
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <div slot="end">
              <!-- //TODO myTicket.paidPrice -->
              <ion-text>Paid: {{ myTicket.totalPrice }}</ion-text>
            </div>

            <app-expandable
              [expanded]="selectedTicketTimestamp === myTicket.timestamp"
            >
              <ion-grid>
                <ion-row>
                  <ion-col size="5">Name</ion-col>
                  <ion-col size="4">Quantity</ion-col>
                  <ion-col size="3">Price</ion-col>
                </ion-row>
              </ion-grid>
              <ion-grid *ngFor="let product of myTicket.products">
                <app-ticket-product
                  style="margin-left: 3%;"
                  [product]="product"
                  [participants]="getArray(myTicket.participant)"
                  [viewMode]="true"
                ></app-ticket-product>
              </ion-grid>
            </app-expandable>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
