<ion-row *ngIf="!selected">
  <ion-col>{{ product.name }}</ion-col>
  <ion-col>{{ product.quantity }}</ion-col>
  <ion-col>{{ product.price }}</ion-col>
  <ion-col>
    <ion-fab-button color="dark" *ngIf="!viewMode">
      <ion-icon
        size="large"
        [name]="
          product.participants[0] !== undefined ? 'person' : 'person-outline'
        "
        (click)="openSelect()"
      ></ion-icon>
    </ion-fab-button>
    <ion-select
      [hidden]="true"
      #mySelect
      multiple="true"
      cancelText="Nah"
      okText="Okay!"
      (ionChange)="addParticipant(product, $event)"
      [(ngModel)]="product.participants"
    >
      <ion-select-option
        *ngFor="let participant of participants; index as i"
        [value]="participant"
      >
        {{ participant.name }}
      </ion-select-option>
    </ion-select>
    <ion-fab-button color="dark" *ngIf="viewMode">
          <ion-icon
                  size="large"
                  [name]="
          product.participants[0] !== undefined ? 'person' : 'person-outline'
        "
                  (click)="presentPopover($event, product.participants)"
          ></ion-icon>
      </ion-fab-button>

  </ion-col>
  <ion-col *ngIf="!this.viewMode">
    <ion-fab-button class="avatar" expand="block" color="dark">
      <ion-icon (click)="select()" name="brush" size="large"></ion-icon>
    </ion-fab-button>
  </ion-col>
</ion-row>
<ion-row *ngIf="selected" class="selected-card" [hidden]="!this.viewMode">
  <ion-col>
    <ion-input
      [(ngModel)]="product.name"
      placeholder="name"
      type="text"
    ></ion-input>
  </ion-col>
  <ion-col>
    <ion-input
      [(ngModel)]="product.quantity"
      placeholder="quantity"
      type="number"
    ></ion-input>
  </ion-col>
  <ion-col>
    <ion-input
      [(ngModel)]="product.price"
      placeholder="price"
      type="number "
    ></ion-input>
  </ion-col>
  <ion-col>
    <ion-fab-button expand="block" color="dark">
      <ion-icon name="trash" (click)="deleteProduct()" size="large"></ion-icon>
    </ion-fab-button>
  </ion-col>
  <ion-col>
    <ion-fab-button class="avatar" expand="block" color="dark">
      <ion-icon name="save" (click)="select()" size="large"></ion-icon>
    </ion-fab-button>
  </ion-col>
</ion-row>
