<ion-header [translucent]="true">
    <ion-toolbar>
        <div *ngIf="userFriendsObs | async">
            <ion-title *ngIf="selectedFriendName">
                <span>Tickets with: {{ selectedFriendName }}</span>
            </ion-title>
        </div>

        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/status"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="userFriendsObs | async">
        <ion-slides [options]="this.slideOpts" (ionSlideDidChange)="getSlideFriendName()">
            <div style="position: absolute; top: 50%; left: 16px;font-size: 25px; z-index: 2;">
                <ion-icon name="arrow-back"></ion-icon>
            </div>
            <div style="position: absolute; top: 50%; right: 16px; font-size: 25px; z-index: 2;">
                <ion-icon name="arrow-forward"></ion-icon>
            </div>

            <ion-slide  *ngFor="let friend of userFriends.friends">
                <app-friend-slide #friendSlide [friend]="friend" [loggedUser]="loggedUser"></app-friend-slide>
            </ion-slide>
        </ion-slides>
    </div>

    <div *ngIf="!(userFriendsObs | async)" style="position: absolute; left: 50%; right: 50%; bottom: 50%;">
        <ion-spinner></ion-spinner>
    </div>
</ion-content>



