<ion-header [translucent]="true">
    <ion-toolbar>
        <div *ngIf="userFriendsObs | async">
            <ion-title *ngIf="selectedFriend">
                <span>Tickets with: {{ selectedFriend.name }}</span>
            </ion-title>
        </div>

        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/status"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<div style="position: absolute; top: 50%; left: 16px;font-size: 25px; z-index: 2;">
    <ion-icon name="arrow-back"></ion-icon>
</div>
<div style="position: absolute; top: 50%; right: 16px; font-size: 25px; z-index: 2;">
    <ion-icon name="arrow-forward"></ion-icon>
</div>

<ion-content>
    <div *ngIf="userFriendsObs | async">
        <ion-slides [options]="this.slideOpts" (ionSlideDidChange)="getInfoFromCurrentSlide()"  (ionSlidesDidLoad)="getInfoFromCurrentSlide()">
            <ion-slide  *ngFor="let friend of userFriends.friends">
                <app-friend-slide #friendSlide [friend]="friend" [loggedUser]="loggedUser"></app-friend-slide>
            </ion-slide>
        </ion-slides>
    </div>

    <div *ngIf="!(userFriendsObs | async)" style="position: absolute; left: 50%; right: 50%; bottom: 50%;">
        <ion-spinner></ion-spinner>
    </div>
</ion-content>

<ion-footer style="text-align: center">
    <h6>Debt: <ion-text color="danger">-{{ this.displayedDebt }}€</ion-text>; Credit: <ion-text color="success">+{{ this.displayedCredit }}€</ion-text>; Total: {{ this.displayedTotal }}€</h6>
    <ion-button expand="block" (click)="presentPopover()" [disabled]="this.total >= -0.01">Pay all</ion-button>
</ion-footer>




