<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Select participants
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-grid
  ><ion-row>
    <div *ngIf="userFriendsObs | async">
      <ion-col *ngFor="let user of userFriends.friends">
        <ion-card
          (click)="updateParticipants(user)"
          [ngClass]="isSelected(user) ? 'selected-card' : 'unselected-card'"
        >
          <ion-card-content text-center>
            <ion-avatar>
              <ion-img [src]="user.photoUrl"></ion-img>
            </ion-avatar>
            <ion-card-title>
              {{ user.name }}
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </div>
  </ion-row>
</ion-grid>
